* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body {
 font-family: "Montserrat", sans-serif;
 background-color: rgb(227, 206, 247);
 text-align: center;
}
h3 {
  color: rgb(15, 15, 173);
}

.app {
  display:flex;
}

.todoList {
  display: flex;
  flex-direction: column;
  grid-template-columns: 1fr 1fr;
float: left;
  position: relative;
  color:rgb(13, 13, 100);
  margin-left: 20px;
  margin-top:20px;
  list-style: circle;
  width:80%;
  background-color: rgb(248, 201, 243);
}
ul li {
  background-color: ivory;
}

ul li span {
 padding-right:20px;
 
}
.description {
  color:rgb(36, 71, 228);
}